* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

body {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  flex-wrap: wrap;
}

p {
  margin: 1em;
  letter-spacing: 1px;
  font-size: 16px;
}

.intro-h1 {
  margin-left: 0.5em;
}

header {
  background-color: #44719e;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
}

.intro-h1 {
}

.logo-div {
  padding: 2em;
}

label {
  font-size: 35px;
  font-weight: bold;
  line-height: 60px;
  color: white;
  padding: 0 50px;
}

.right-div img {
  max-height: 500px;
}

.home-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #44719e;
  margin: 3em 8em;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
  color: white;
}

.left-div {
  display: inline-block;
  max-width: 500px;
  margin-left: 1em;
  padding: 2em;
}

.right-div {
  margin-right: 4em;
}

.left-div h1 {
  margin-bottom: 1em;
}

footer {
  color: #44719e;
}

footer span {
  margin: 1em;
  font-weight: bold;
}
