@use "variables";
@use "mixins";

.dreamjob-section {
  @include mixins.fixinContent;

  margin: 2em;
  .job-text {
    display: inline-block;
    max-width: 500px;
    margin-top: 5em;
    max-width: 400px;
    padding: 2em;

    h1 {
      color: variables.$secondarycolor;
      font-size: 2.5em;
    }

    p {
      font-size: 18px;
      letter-spacing: 1px;
    }
  }

  .job-pic {
    display: inline-block;
    img {
      max-height: 600px;
      margin-top: 20%;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    }
  }
}
