@use "mixins";
@use "variables";

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

body {
  box-sizing: border-box;
  font-family: variables.$font;
  flex-wrap: wrap;
}

/* typography */

p {
  margin: 2em auto;
  letter-spacing: 1px;
  font-size: 16px;
}

header {
  background-color: variables.$secondarycolor;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
}

.logo-div {
  padding: 2em;
}

label {
  @include mixins.logo-sk;
}

/* NAV BAR */

.header-div {
  @include mixins.nav;

  ul {
    display: flex;
    justify-content: space-around;
    margin-right: 3em;
  }

  li {
    margin: 2em;
    color: variables.$tertiarycolor;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
  }

  a {
    color: white;
    &:hover {
      color: black;
    }
  }

  i {
    font-size: 1.3em;
  }
}

/* Image section */

.right-div img {
  max-height: 600px;
}

/* Home section */

.home-section {
  @include mixins.fixinContent;
  margin: 3em 2em;

  color: variables.$primaryblack;
}

.intro-h1 {
  color: variables.$secondarycolor;
}

.left-div {
  display: inline-block;
  max-width: 500px;
  margin-left: 1em;
  padding: 2em;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
}

.right-div {
  margin-right: 3em;
}

.left-div h1 {
  margin-bottom: 1em;
}

/* Button section */

.btn-div {
  .button1 {
    @include mixins.btnBorder;
    height: 50px;
    width: 250px;
    font-size: 18px;
  }
  :hover {
    background-color: variables.$tertiarycolor;
    border: 3px solid variables.$tertiarycolor;
    color: variables.$secondarycolor;
  }

  a {
    max-width: 200px;
  }
}

/* Footer section*/

footer {
  color: variables.$primaryblack;
}

footer span {
  margin: 1em;
  font-weight: bold;
}

/* Media Queries */

@media screen and (max-width: 768px) {
  .header-div ul {
    display: block;
  }
}
